<div class="jumbotron">
    <h3>Thrill of the find</h4>
      <p>This site was designed using bootstrap</p>
</div>

<h2> <%= Time.now.strftime("%B %d, %Y") %></h2>
<h3> Total items in inventory: <%= @inventory %> </h3>
<h3> Total items added this week: <%= total_week_items %> </h3>
<h3> Go to the last item inventoried (circle button)</h3>
<h3> Get Reports(circle button) </h3>
<h3> View Last item inventoried (circle button) </h3>

Sale icon here
