<p>Home page - do not show nav bar, except small button logout</p>

<!-- ad image to page -->
 <%= image_tag "saletag.png" %>

<h3> <%= link_to "Go to the last item inventoried", item_path(@item) %></h3>
<h3> <%= link_to "Reports", items_path %></h3> <!-- change this-->
<h3> <%= link_to "View All", items_path %></h3>
