<h1>Listing Items</h1>

<!--items controller is where :source is included -->
<%= react_component("Search") %>

<p><%= link_to 'Add a new item', new_item_path, class: "btn btn-default" %></p>
<p><%= link_to 'Export CSV', items_path(format: "csv"), class: "btn btn-default" %></p>
