<h1>Listing Items</h1>

<!--items controller is where :source is included -->
<%= react_component("Search") %>


<p><%= link_to 'New Item', new_item_path %></p>
<p><%= link_to 'Export CSV', items_path(format: "csv"), class: "btn btn-default" %></p>
