<h1>Enter new inventory</h1>
<h3>If you are entering inventory acquired from a new source,
  visit <%= link_to 'Sources', new_source_path, class: 'btn btn-md btn-warning'  %></h3>

<%= render 'form' %>

<%= link_to 'Back', items_path %>
