<h1>Enter new inventory</h1>
<h4>If you are entering inventory acquired from a new source,
  visit <%= link_to 'Sources', new_source_path, class: 'btn btn-md btn-warning'  %></h4>

<%= render 'form' %>
