<div class="container">
  <h1>Enter new inventory</h1>
  <div class="new_source_header">
    <h4>
      If you are entering inventory acquired from a new source, visit
      <%= link_to 'Sources', new_source_path, class: 'sources_link'  %></h4>
  </div>
  <br>
  <%= render 'form' %>
</div>
