/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #E9AE5A;

.navbar.navbar-default {
  margin-bottom: 0;
}

.navibar {
  border-bottom: solid 3px $primary-color
}

.nav-pills > li > a {
  border-radius: 0;
  padding: 15px;
}

body {
  border-top: solid 7px $primary-color;
}

.bodyborder {
  height: 7px;
  width: 100%;
  background-color: $primary-color;
  position: fixed;
  bottom: 0;
}

a {
  color: #999999;
}

a:hover {
  color: #333333;
  background:transparent;
  text-decoration: none;
}

table {
  a:hover {
    border-bottom: 2px solid;
  }
}

a.btn:hover {
  color: #333333;
  background: darken($primary-color, 15%);
}

.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
