// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category_index h3 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 2.5em;
  text-decoration: none;
}

#itemblock {
  border: solid 1px black;
}

#category_index h2 {
  color: #747D7D;
  text-shadow: 20px black;
}

.row a{
  &:hover{
    background-color: white;
  }

}
