// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Items by category page
#category_index h3 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 2.5em;
  text-decoration: none;
}

#category_index p {
  color: #747D7D;
  text-shadow: 20px black;
  font-size: 1.8em;
}

#itemblock {
  border: groove 3px #eeeeee;
  margin-top: 10px;
  max-width: 280px;
  padding-top: 10px;
  text-align: center;
}

.header {
  font-family: 'Satisfy', cursive;
}

.photobody {
  margin: 20px 20px;
}

//Category index page
.category_icon {
  text-align: center;
  padding-top: 80px;
}

.image {
  border: solid;
  border-radius: 5px;
  padding: 10px;
}
