// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// .home_page {
//   background-color: #a56a27;
// }


.home_page h3 {
  font-family: 'Satisfy', cursive;
}

.icon-button {
  display: inline-block;
  margin: 10px;
  padding: 8px;

  .icon {
    font-size: 5em;
    text-align: center;
  }

  .icon-body {
    font-weight: bold;
    // font-family: 'Satisfy', cursive;
  }
}
