// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_page {
  background-color: #E9AE5A;
}

.icons {
  font-size: 4.5em;
}

.home_page h3 {
  font-family: 'Satisfy', cursive;
}
