// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#item_attr {
  border: solid black 1px;
  width: 500px;
  padding: 50px;
  // font-size: 2.4em;
}
