.login {
  background-image: url("Thriftorylogin.png");
  background-size: cover;
  color: #E9AE5A;
  text-align: center;
  text-shadow: 1px 1px black;
  font-family: 'Satisfy', cursive;
}

.logo {
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  background: rgba(50, 50, 50, 0.4);
}

h1 {
  padding-top: 100px;

}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin-heading {
  color: #eee;
}

.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
