// Place all the styles related to the sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.distance {
  text-align: center;
}

.sources h1 {
  font-family: 'Satisfy', cursive;
  font-size: 3.5em;
}
