// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myModal #myModalLabel h4 {
  font-family: 'Satisfy', cursive;
}

#stats_page h3 {
  text-align: center;

}
.chart_block {
  border-style: groove;
  border-width: 5px;
    h3 {
      font-family: 'Satisfy', cursive;
    }
}
