<h3>Categories</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>
keep id for dev only
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <!--link to item.where(category_id: [:params_id])-->
        <td><%= link_to category.name, categories_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
or
<%= link_to 'Create a New Category', new_category_path, class: "btn btn-default" %>
