<div class="container">
  <h1>Create a new category</h1>
  <h4>Categories created here will <em>not</em> show as an option on the Category search page</h4>

<%= render 'form' %>

<%= link_to 'Back', categories_path, class: 'btn btn-md btn-warning'%>
</div>
