<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Stats#index</h1>
Nav bar at top
Logo to the right, link to Home

<p> Items by status</p>
<%= pie_chart Item.group(:status).count %>
<p> Items by condition</p>
<%= pie_chart Item.group(:condition).count %>
